html {
  box-sizing: border-box;
}

@mixin lined($span, $justify: flex-start) {
  display: flex;
  justify-content: $justify;
  & > * {
    margin-right: $span;

    &:last-child {
      margin-right: 0;
    }
  }
}

.lined-1 {
  @include lined(0.2em);
}

.lined {
  @extend .lined-1;
}

.lined-2 {
  @include lined(0.5em);
}

.lined-3 {
  @include lined(0.8em);
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-vcenter {
  display: flex;
  align-items: center;
}

.flex-hcenter {
  display: flex;
  justify-content: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flext-left {
  display: flex;
  justify-content: flex-start;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.block-wrapper {
  margin-bottom: 0.8em;

  &:last-child {
    margin-bottom: 0;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.right-top {
  top: 0;
  right: 0;
}

.col-green {
  color: green;
}

.se_small_icon {
  &:hover {
    color: #00ccfff5;
    cursor: pointer;
  }
}

.b_freetext {
  border: 1px #ead0dd solid;
  background-color: #fff5f7;
  padding: 15px 11px;
}

.b_selector {
  position: relative;

  .se_buttons {
    position: absolute;
    background: transparent;
    left: 100px;
    top: 0;
    bottom: 0;
  }
}

.serif {
  .selector, &.selector {
    margin-right: 1em;
    min-width: 100px;

  }

  .serif_selector__control {
    border: none;
  }

  .serif_selector__value-container {
    justify-content: flex-end;
  }
}

.event {
  .input {
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 0.3em 0.5em;
    font-style: italic;
    background-color: #d3d3d336;
    color: #656565;
  }
}

.description {
  .input {
    border: none;
    border-left: 2px solid deeppink;
    border-bottom: 1px solid deeppink;
    width: 100%;
    font-size: 16px;
    padding: 0.3em 0.5em;
    background-color: white;
    color: black;
  }
}

.b_image {
  height: 300px;
  padding: 5px;
  position: relative;

  &.drop, .drop {
    border: 4px dashed darkgray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
  }

  .drop-label {
    display: block;
  }

  .preview-container {
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 5px;
    display: flex;
  }

  .preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .finished_indicator {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .delete_image_btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .figure {
    width: auto;
    overflow: hidden;
    margin-bottom: 3px;
  }

  .preview {
    margin: 0 auto;
    height: 100%;
  }
}

.b_container {
  min-width: 400px;
  border-top: 2px solid purple;
  border-left: 2px solid purple;
  .header {
    background-color: purple;
    padding: 5px 5px 5px 10px ;
    margin-bottom: 10px;
  }
  .blocks {
    padding-left: 10px;
  }
  .title_input {
    border: purple;
    font-size: 15px;
    padding-left: 5px;
  }
}

.block {
  .buttons-container {
    min-width: 115px;
  }

  &:hover {

  }
}